body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  /* background-color: hsl(0, 0%, 20%); */
}

.App{
  display: flex;
}

.left--side {
  height: 101vh;
  background-color: #340845;
}

/* note : the number of grid rows and columns is dynamically managed in the Grid component */
.grid {
  display: grid;
  padding: 2em;
}

/* note : the background color of each cell is dynamically managed by the Cell components themselves and depend on the gridState */
.cell {
  font-size: 3px;
  border: 1px solid black;
  margin: 0px;
  padding: 0.5em;
  width: 9px;
  height: 9px;
}

.cell--on {
  background-color: hsl(60, 100%, 80%);
}

.cell--off {
  background-color: hsl(0, 0%, 10%);
}


.right--side {
  flex-grow: 1;
  height: 101vh;
  background-color: #340845;
  border-left: 10px solid #8914B8;
}

header {
  text-align: center;
  padding: 1em;
  margin: 0;
  color: white;
  background-color: hsl(280, 80%, 10%);
  font-family: Sarpanch, sans-serif;
  font-size: 3em;
  font-weight: bold;
  box-shadow: 0px 1px 1px white;
}

#react {
  color: hsl(251, 75%, 80%);
}

.play--div {
  width: 50%;
  margin: auto;
  display: flex;
  gap: 1em;
}

#play--button {
  font-family: Sarpanch;
  font-weight: bold;
  border: 1px solid hsl(280, 80%, 10%);
  border-radius: 0.3em;
  flex-grow: 1;
  color: hsl(280, 80%, 10%);
  background-color: hsl(60, 100%, 80%);
  padding: 0.5em;
  cursor: pointer;
}


#play--button:hover {
  color:hsl(280, 80%, 5%);
  border-color: hsl(280, 80%, 5%);;
  background-color: hsl(60, 100%, 90%);
}

#reset--button {
  background-color: hsl(280, 80%, 12%);
  font-family: sarpanch;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 0.3em;
  flex-grow: 1;
  color: white;
  padding: 0.5em;
  cursor: pointer;
}

#reset--button:hover {
  background-color: hsl(280, 80%, 5%);
}

.display {
  width: 40%;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 1.2em;
  color: white;
  background-color: #8914B8;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-right: 1.3em;
  padding-left: 1.3em;
  border-radius: 0.3em;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 1em;;
  border: 1px solid white;
}

#instructions {
  text-align: center;
  font-family: cursive;
  color: white;
  padding: 2em;
  padding-top: 1em;
  padding-bottom: 2.5em;
  margin-top: 2em;
}

#rules {
  font-family: Sarpanch;
  color:hsl(251, 75%, 80%);
  padding: 2em;
  padding-top: 0.7em;
  padding-bottom: 1em;
}

