body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  box-sizing: border-box;
}

/* note : the number of grid rows and columns is dynamically managed in the Grid component */
.grid {
  display: grid;
  gap: 0;
  padding: 0px;
  margin: 0px;
}

/* note : the background color of each cell is dynamically managed by the Cell components themselves and depend on the gridState */
.cell {
  font-size: 3px;
  border: 1px solid black;
  margin: 0px;
  padding: 0.5em;
  width: 20px;
  height: 20px;
}

.play--div {
  margin-top: 1em;
  padding: 0.3em;
}

#play--button {
  border-radius: 0.3em;
  width: 100%;
  color: white;
  background-color: purple;
  padding: 0.3em;
}

#play--button:hover {
  background-color: blueviolet;
}